import(methods)
importFrom(CPTtools,effectiveThetas)
importFrom(CPTtools,getOffsetRules)
importFrom(CPTtools,isOffsetRule)
importFrom(CPTtools,calcDPCFrame,calcDPCTable,barchart.CPF)
importFrom("utils", "limitedLabels", "recover")
import(futile.logger)

## Pnet and Pnode interfaces
export(is.Pnet, as.Pnet, Pnet, 
       PnetPriorWeight, "PnetPriorWeight<-",
       PnetPnodes, "PnetPnodes<-",
       BuildAllTables,
       is.Pnode, as.Pnode, Pnode, PnodeNet,
       PnodeQ, "PnodeQ<-",
       PnodeProbs, "PnodeProbs<-",
       PnodePriorWeight, "PnodePriorWeight<-",
       PnodePostWeight,
       PnodeRules, "PnodeRules<-",
       PnodeLink, "PnodeLink<-",
       PnodeLnAlphas, "PnodeLnAlphas<-",
       PnodeAlphas, "PnodeAlphas<-",
       PnodeDefaultAlphas, PnodeDefaultBetas,
       PnodeBetas, "PnodeBetas<-",
       PnodeLinkScale, "PnodeLinkScale<-",
       BuildTable,GetPriorWeight,PnodeParentTvals
  )
exportMethods(is.Pnet, as.Pnet, Pnet,
       PnetPriorWeight, "PnetPriorWeight<-",
       PnetPnodes, "PnetPnodes<-",
       BuildAllTables,
       is.Pnode, as.Pnode, Pnode, PnodeNet,
       PnodeQ, "PnodeQ<-",
       PnodePriorWeight, "PnodePriorWeight<-",
       PnodeRules, "PnodeRules<-",
       PnodeLink, "PnodeLink<-",
       PnodeLnAlphas, "PnodeLnAlphas<-",
       PnodeAlphas, "PnodeAlphas<-",
       PnodeBetas, "PnodeBetas<-",
       PnodeLinkScale, "PnodeLinkScale<-",
       BuildTable,PnodeParentTvals
  )

export(show)

S3method(is.Pnet, default)
#S3method(Pnet, default)
S3method(is.Pnode, default)
S3method(PnodeAlphas, default)
S3method("PnodeAlphas<-", default)
S3method(PnodeParentTvals, default)
S3method(PnodeParentNames, default)
S3method(PnodeParentStates, default)


## BN generics.
exportClasses(Pnet,Pnode)
export(PnodeName, "PnodeName<-",
       PnodeTitle, "PnodeTitle<-",
       PnodeDescription, "PnodeDescription<-",
       PnodeLabels, "PnodeLabels<-",
       PnodeVisPos, "PnodeVisPos<-",
       PnodeStates, "PnodeStates<-", PnodeNumStates,
       PnodeStateTitles, "PnodeStateTitles<-",
       PnodeStateDescriptions, "PnodeStateDescriptions<-",
       PnodeStateValues, "PnodeStateValues<-",
       PnodeStateBounds, "PnodeStateBounds<-",
       PnodeParents, "PnodeParents<-",
       PnodeParentNames, PnodeNumParents, PnodeParentStates,
       isPnodeContinuous,
       PnetName, "PnetName<-",
       PnetTitle, "PnetTitle<-",
       PnetHub, "PnetHub<-",
       PnetPathname, "PnetPathname<-",
       PnetDescription, "PnetDescription<-",
       PnetFindNode,
       PnetMakeStubNodes, PnetRemoveStubNodes,PnetAdjoin,
       PnetDetach, PnetCompile,
       PnetSerialize, PnetUnserialize, unserializePnet
       )
exportMethods(PnodeName, "PnodeName<-",
       PnodeTitle, "PnodeTitle<-",
       PnodeDescription, "PnodeDescription<-",
       PnodeLabels, "PnodeLabels<-",
       PnodeVisPos, "PnodeVisPos<-",
       PnodeStates, "PnodeStates<-", PnodeNumStates,
       PnodeStateTitles, "PnodeStateTitles<-",
       PnodeStateDescriptions, "PnodeStateDescriptions<-",
       PnodeStateValues, "PnodeStateValues<-",
       PnodeStateBounds, "PnodeStateBounds<-",
       PnodeParents, "PnodeParents<-",
       PnodeParentNames, PnodeNumParents, PnodeParentStates,
       isPnodeContinuous,
       PnodeEvidence,"PnodeEvidence<-",
       PnetName, "PnetName<-",
       PnetTitle, "PnetTitle<-",
       PnetHub, "PnetHub<-",
       PnetPathname, "PnetPathname<-",
       PnetDescription, "PnetDescription<-",
       PnetMakeStubNodes, PnetRemoveStubNodes,
       PnetAdjoin, PnetDetach, PnetCompile,
       PnetFindNode)

export(PnodeMin)

## Manifests

export(BuildNetManifest,BuildNodeManifest)

## Warehouses
exportClasses(PnetWarehouse,PnodeWarehouse)
export(ClearWarehouse,WarehouseManifest,"WarehouseManifest<-",
       WarehouseData,WarehouseSupply,WarehouseFetch,
       WarehouseMake,WarehouseFree, WarehouseUnpack,
       WarehouseInventory,WarehouseCopy,WarehouseSave,
       is.PnodeWarehouse,is.PnetWarehouse,
       is.legal.name,as.legal.name,is.valid)
exportMethods(ClearWarehouse,
              WarehouseManifest,"WarehouseManifest<-",
       WarehouseData,WarehouseFetch,WarehouseSupply,
       WarehouseMake,WarehouseFree,WarehouseCopy,
       WarehouseInventory,WarehouseSave,
       is.PnodeWarehouse,is.PnetWarehouse,
       is.legal.name,as.legal.name,is.valid)



## EM algorithm
export(GEMfit, calcPnetLLike, calcExpTables,
       maxAllTableParams,maxCPTParam)
exportMethods(calcPnetLLike, calcExpTables,
       maxAllTableParams,maxCPTParam)
#S3method("maxAllTableParams", default)


## Q and Omega matrixes
export(Pnet2Omega,Pnet2Qmat,topsort,Omega2Pnet,Qmat2Pnet)

## Gadgets
export(CompensatoryGadget,OffsetGadget,RegressionGadget,DPCGadget)
export(MakeCompensatoryGadget,MakeOffsetGadget,MakeRegressionGadget,
       MakeDPCGadget)

## Statistics
exportClass(Statistic)
export(StatName, Statistic, calcStat, PnodeMargin, PnodeEAP, PnodeSD,
       PnodeMedian, PnodeMode, flattenStats)
exportMethods(calcStat, StatName)

export(flog.try)

## Igraphs
export(pnet2Igraph,PnetIGLayout,"PnetIGLayout<-")

