#import(methods)

## Pnet and Pnode interfaces
export(is.Pnet, as.Pnet, Pnet,
       PnetPriorWeight, "PnetPriorWeight<-",
       PnetPnodes, "PnetPnodes<-",
       BuildAllTables,
       is.Pnode, as.Pnode, Pnode, PnodeNet,
       PnodeQ, "PnodeQ<-",
       PnodePriorWeight, "PnodePriorWeight<-",
       PnodeRules, "PnodeRules<-",
       PnodeLink, "PnodeLink<-",
       PnodeLnAlphas, "PnodeLnAlphas<-",
       PnodeAlphas, "PnodeAlphas<-",
       defaultAlphas, defaultBetas,
       PnodeBetas, "PnodeBetas<-",
       PnodeLinkScale, "PnodeLinkScale<-",
       BuildTable,GetPriorWeight,PnodeParentTvals
  )
exportMethods(is.Pnet, as.Pnet, Pnet,
       PnetPriorWeight, "PnetPriorWeight<-",
       PnetPnodes, "PnetPnodes<-",
       BuildAllTables,
       is.Pnode, as.Pnode, Pnode, PnodeNet,
       PnodeQ, "PnodeQ<-",
       PnodePriorWeight, "PnodePriorWeight<-",
       PnodeRules, "PnodeRules<-",
       PnodeLink, "PnodeLink<-",
       PnodeLnAlphas, "PnodeLnAlphas<-",
       PnodeAlphas, "PnodeAlphas<-",
       PnodeBetas, "PnodeBetas<-",
       PnodeLinkScale, "PnodeLinkScale<-",
       BuildTable,PnodeParentTvals
  )

S3method(is.Pnet, default)
S3method(Pnet, default)
S3method(is.Pnode, default)
S3method(PnodeAlphas, default)
S3method("PnodeAlphas<-", default)
S3method(PnodeParentTvals, default)


## BN generics.
export(PnodeName, "PnodeName<-",
       PnodeTitle, "PnodeTitle<-",
       PnodeDescription, "PnodeDescription<-",
       PnodeLabels, "PnodeLabels<-",
       PnodeStates, "PnodeStates<-", PnodeNumStates,
       PnodeStateTitles, "PnodeStateTitles<-",
       PnodeStateDescriptions, "PnodeStateDescriptions<-",
       PnodeStateValues, "PnodeStateValues<-",
       PnodeParents, "PnodeParents<-", PnodeParentNames, PnodeNumParents,
       PnetName, "PnetName<-",
       PnetTitle, "PnetTitle<-",
       PnetHub, "PnetHub<-",
       PnetPathname, "PnetPathname<-",
       PnetDescription, "PnetDescription<-",
       PnetFindNode,
       PnetMakeStubNode, PnetRemoveStubNodes,PnetAdjoin,
       PnetDetach)
exportMethods(PnodeName, "PnodeName<-",
       PnodeTitle, "PnodeTitle<-",
       PnodeDescription, "PnodeDescription<-",
       PnodeLabels, "PnodeLabels<-",
       PnodeStates, "PnodeStates<-", PnodeNumStates,
       PnodeStateTitles, "PnodeStateTitles<-",
       PnodeStateDescriptions, "PnodeStateDescriptions<-",
       PnodeStateValues, "PnodeStateValues<-",
       PnodeParents, "PnodeParents<-", PnodeParentNames, PnodeNumParents,
       PnetName, "PnetName<-",
       PnetTitle, "PnetTitle<-",
       PnetHub, "PnetHub<-",
       PnetPathname, "PnetPathname<-",
       PnetDescription, "PnetDescription<-",
       PnetFindNode)

## Manifests

export(BuildNetManifest,BuildNodeManifest)

## Warehouses
export(ClearWarehouse,WarehouseManifest,"WarehouseManifest<-",
       WarehouseData,WarehouseSupply,WarehouseFetch,
       WarehouseMake,WarehouseFree,
       is.PnodeWarehouse,is.PnetWarehouse)
exportMethods(ClearWarehouse,
              WarehouseManifest,"WarehouseManifest<-",
       WarehouseData,WarehouseFetch,
       WarehouseMake,WarehouseFree,
       is.PnodeWarehouse,is.PnetWarehouse)



## EM algorithm
export(GEMfit, calcPnetLLike, calcExpTables,
       maxAllTableParams,maxCPTParam)
exportMethods(calcPnetLLike, calcExpTables,
       maxAllTableParams,maxCPTParam)
S3method("maxAllTableParams", default)


## Q and Omega matrixes
export(Pnet2Omega,Pnet2Qmat,topsort,Omega2Pnet,Qmat2Pnet)


