#import(methods)

## Pnet and Pnode interfaces
export(is.Pnet, as.Pnet, Pnet,
       PnetPriorWeight, "PnetPriorWeight<-",
       PnetPnodes, "PnetPnodes<-",
       BuildAllTables,
       is.Pnode, as.Pnode, Pnode, PnodeNet,
       PnodeQ, "PnodeQ<-",
       PnodePriorWeight, "PnodePriorWeight<-",
       PnodeRules, "PnodeRules<-",
       PnodeLink, "PnodeLink<-",
       PnodeLnAlphas, "PnodeLnAlphas<-",
       PnodeAlphas, "PnodeAlphas<-",
       defaultAlphas, defaultBetas,
       PnodeBetas, "PnodeBetas<-",
       PnodeLinkScale, "PnodeLinkScale<-",
       BuildTable,GetPriorWeight,PnodeParentTvals
  )

S3method(is.Pnet, default)
S3method(Pnet, default)
S3method(is.Pnode, default)
S3method(PnodeAlphas, default)
S3method("PnodeAlphas<-", default)
S3method(PnodeParentTvals, default)


## BN generics.
export(PnodeName,PnodeStates,PnodeNumStates,
       PnodeParents,PnodeParentNames,PnodeNumParents)


## EM algorithm
export(GEMfit, calcPnetLLike, calcExpTables,
       maxAllTableParams,maxCPTParam)
S3method("maxAllTableParams", default)



## Q and Omega matrixes
export(Pnet2Omega,Pnet2Qmat,topsort)


